*{
    background-color: antiquewhite;
}

.normal{
    position: relative;
    top: 181px;
    text-align: center;
}

.form-floating{
        display: flex;
        position: relative;
        top: 205px;
        left: 30px;
        justify-content: center; /* Horizontal centering */
        align-items: center; /* Vertical centering, if needed */
        margin: 10px;
}
.form-floating button {
    color:black;
    margin-bottom: 0px;
    background-color: yellow;
    padding: 10px 16px;
    
    position: relative;
    right: 97px;
    border-radius: 10px;
}
.form-floating button:hover {
    background-color: rgb(37, 223, 121);

}
#floatingInput{
    border-width: 2px;
    padding: 5px;
}
#floatingPassword{
    border-width: 2px;
    padding: 5px;
}
#floatingInput1{
    border-width: 2px;
    padding: 5px;
    position: relative;
    right: 15px;
}

