{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block body %}
{% load static %}

    <h1 class="my-2 text-center">SELECT THE PLACE</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols1-md-3 g-3">
      
      {% for i in Index %}
      <div class="col">
        <div class="circle-container">
          <a href="about/{{i.msg_id}}"><img src="{% if i.image %}{% static i.image.url %}{% endif %}" id="qv{{i.msg_id}}" alt="..."></a>
        </div>
          <div class="card-body">
            <h4 class="card-text" style="text-align: center;">{{i.placename}}</h4>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <div class="btn1">
                <p>{{i.category}}</p>
                <p>{{i.subcategory}}</p>
                <a href="services/{{i.msg_id}}"><button id="pr{{i.msg_id}}" type="button" class="btn btn-sm btn-outline-secondary">Book Tourist guide</button></a></li>
                </div>
              </div>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>


  


  
{% endblock body %}
