{% extends "base.html" %}
{% block title %}contacts{% endblock title %}
{% block body %}
{% load static %}
<div class="container my-4">
    <div class="row">
    <div class="col-md-4">
    <div class="row">
       <img src="{% if service.image %}{% static service.image.url %}{% endif %}" width="233px" height="385px">
    </div>
        </div>
    <div class="col-md-8">
        <ul>
        <li class="my-3">PLACE NAME :{{service.placename}}</li>
        <li class="my-3">GUIDE PRICE PER PERSON IS <b>{{service.price}} RS</b></li>
        </ul>
        <label for="quantity">ENTER THE NUMBER OF VISITOR:</label>
        <input type="number" id="quantity" class="form-control my-3" placeholder="Enter the quantity">
        
        <button onclick="calculateBill()">Calculate Bill</button>
        <p id="totalBill"></p>
        <form action="" method="post">
            {% csrf_token %}
       
        <div>
        <label for="quantity">ENTER YOUR NAME:</label>
        <input type="text" id="name" class ="form-control my-3" placeholder="Enter your name">
        </div>
        <div>
        <label for="quantity">ENTER YOUR PHONE NUMBER:</label>
        <input type="number" id="num" class ="form-control my-3" placeholder="Enter your number">
        </div>
        
        <a href="HISTORY/"><button  type="button" class="btn btn-sm btn-outline-secondary">SUBMIT</button>
    </div>
    </div>
        </div>
    </div>
    
    <script>
        function calculateBill() {
            // Get the quantity input value
            var quantity = document.getElementById("quantity").value;
            if (quantity<=0){
                alert("please enter a valid pepole")
            }
            else{
            
            // Define the price per item (example: $10)
            var pricePerItem = {{service.price}};

            // Calculate the total bill amount
            var totalBill = quantity * pricePerItem;

            // Display the total bill amount
            document.getElementById("totalBill").innerHTML = "Total Bill " + totalBill.toFixed(2) + "<b> RS</b>";
            }
        }
    </script>
{% endblock body %}