{% extends "base.html" %}
{% block title %}contacts{% endblock title %}
{% block body %}
{% load static %}

<div class="container">
    <div class="circle-row">
       <img src="{% if service.image %}{% static service.image.url %}{% endif %}" width="233px" height="385px">
    </div>
    <div class="col1">
        <ul>
        <li class="my-3">PLACE NAME :{{service.placename}}</li>
        <li class="my-3">GUIDE PRICE PER PERSON IS <b>{{service.price}} RS</b></li>
        </ul>
        <label for="quantity">ENTER THE NUMBER OF VISITOR:</label>
        <input type="number" id="quantity" class="form-control my-3" placeholder="Enter the quantity">
        
        <button onclick="calculateBill()">Calculate Bill</button>
        <p id="totalBill"></p>
        <form action="HISTORY/" method="post" onsubmit="return validateForm()">
            {% csrf_token %}
        <div>
            <input type="hidden" id="placename" name="placename" value="{{ service.placename }}">
        </div>
       
        <div class="form">
        <label for="name">ENTER YOUR NAME:</label>
        <input type="text" id="name" class ="form-control" placeholder="Enter your name" required><br><br>
        </div>
        <div class="form">
        <label for="phoneInput">ENTER YOUR PHONE NUMBER:</label>
        <input type="number" id="num" class ="form-control" placeholder="Enter your number" required><br><br>
        </div>
        
        <button  type="submit" class="btn btn-sm btn-outline-secondary">SUBMIT</button>
    </form>
    </div>
</div>

    <script>
        function validateForm() {
            var name = document.getElementById("name").value;
            var phone = document.getElementById("num").value;
    
            if (name.length == 0 || phone.length == 0) {
                alert("Name and phone number are required fields.");
                return false; // Prevent form submission
            }
            if (phone.length != 10) {
                alert("Phone number should be 10 digits long.");
                return false;
            }
            return true;
        }
    </script>
    <script>
        function calculateBill() {
            // Get the quantity input value
            var quantity = document.getElementById("quantity").value;
            if (quantity<=0){
                alert("please enter a valid pepole")
            }
            else{
            
            // Define the price per item (example: $10)
            var pricePerItem = {{service.price}};

            // Calculate the total bill amount
            var totalBill = quantity * pricePerItem;

            // Display the total bill amount
            document.getElementById("totalBill").innerHTML = "Total Bill " + totalBill.toFixed(2) + "<b> RS</b>";
            }
        }
    </script>
{% endblock body %}