{% extends "base.html" %}
{% block title %}VISITED PLACE{% endblock title %}
{% block body %}
{% load static %}

<h1 class="my-2 text-center">VISITED PLACES</h1>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% if customer|length < 1 %}
        <h3 style="text-align: center; padding-top: 5%;">YOU HAVE NOT VISITED ANY PLACES</h3>
    {% endif %}
  
  {% for i in customer reversed %}
  <div class="col">
    <div class="circle-container">
      <img src="{% if i.image %}{% static i.image.url %}{% endif %}" id="qv{{i.msg_id}}" alt="...">
    </div>
      <div class="card-body">
        <h4 class="card-text" style="text-align: center;">{{i.placename}}</h4>
        <div>
    </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock body %}
